@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<asp:FileUpload ID="FileUpload1" runat="server" />
<asp:Button ID="btnUpload" runat="server" Text="Upload" OnClick="Upload" />
<hr />
<asp:DataList ID="DataList1" Visible="true" runat="server" AutoGenerateColumns="false"
              RepeatColumns="2" CellSpacing="5">
    <ItemTemplate>
        <u>
            <%# Eval("Name") %>
        </u>
        <hr />
        
        <video id="VideoPlayer" src='<%# Eval("Id", "File.ashx?Id={0}") %>' controls="true"
               width="300" height="300" loop="true" />
    </ItemTemplate>
</asp:DataList>


<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="file">Choose file to upload:</label>
        <input type="file" name="file" id="file" class="form-control-file">
    </div>
    <button type="submit" class="btn btn-primary">Upload</button>
</form>