@Model registraitonmodel

@{
    ViewData["Title"] = "registration1";
    Layout = "~/Pages/Index.cshtml";
}

<h1>registration1</h1>

@using(Html.BeginForm())
{
   @* <div>
        username:@Html.TextBoxFor(m =>)
    </div>
    <div>
        username:@Html.PasswordFor(m =>)
    </div>
*@

}